.graf {
    background-color: #f0f2f7;
    border: 1.5px solid #353c40;
    border-radius: 10px;
}

.barras {
    fill: #899bc9;
    stroke-width: 5;
    stroke: #b2967d;
    opacity: 0.3;
}

/* .barras {
    fill: #e7d8c9;
    stroke-width: 5;
    stroke: #b2967d;
} */

.axis{
    font-size: 16pt;

}

.titulo{
    font-size: 16pt;
    font-weight: bold;
    text-anchor: middle;
    text-align:center;
}
.column {
    float: center;
    width: 50%;
}
  

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
}
  
.leyendas{
    font-size: 12pt;
    font-weight: bold;
    text-align:center;
}
