.graf {
    background-color: #ebebeb;
    border: 1px solid #c0c0c0;
}

.barras {
    fill: #e7d8c9;
    stroke-width: 5;
    stroke: #b2967d;
}

.barras {
    fill: #e7d8c9;
    stroke-width: 5;
    stroke: #b2967d;
}